<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROCKETPAY</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- <div id="loader-container">
      <img src="your-loader.gif" alt="Loading..." id="loader">
  </div> -->
    <div class="navigation">
        <a href="./index.html" class="logo"><i class="fa fa-rocket"></i> Rocketpay</a>

        <ul class="navlist">
            <li><a href="">Home </a></li>
            <li class="dropdown">
                <a href="">Security <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-items">
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">App Development</a></li>
                    <li><a href="#">SEO</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="">About <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-items">
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">App Development</a></li>
                    <li><a href="#">SEO</a></li>
                </ul>
            </li>
        </ul>

        <div class="btn_container">
            <a href="" class="move_btn">Log in</a>
            <a href="" class="move_btn">Move Big Money</a>
        </div>
    </div>

    <div class="hero-section">
      <div class="left-hero-section">
        <div class="main-hero-text">
          <h1>Pay On the <br>Go with Rocketpay.</h1>
        </div>

        <div class="description-hero-text">
          <p class="animate__animated animate__headShake">
            Unlock the Secrets of Seamless Transactions with Rocketpay's Secure Payment Solutions, Where Convenience and Security Come Together.
          </p>
        </div>

        <!-- <div class="right-header-box s">
          <button>
            <a href="https://t.me/tutgotechnologies" target="_blank">hhhh</a>
          </button>
        </div> -->

        <div class="hero-list-box">
          <button class="highlight-button">Highlights</button>
          <div class="list-item">
            <div class="list-text">
              <p>
                Access to Transaction History:
              </p>
            </div>
          </div>

          <div class="list-item">
            <div class="list-text">
              <p>Free Financial Mentorship:</p>
            </div>
          </div>

          <div class="list-item">
            <div class="list-text">
              <p>Create and Customize Payment Solutions:</p>
            </div>
          </div>
        </div>

        <div class="hero-cta">
          <div class="below">
            <p>SEE OUR TEAM MEMBERS</p>
          </div>
        </div>
      </div>

      <div class="right-hero-section">
        <div class="image-container">
          <img src="{% static 'img/undraw_credit_card_re_blml.svg' %}" alt="Hero Image" class="animate__animated animate__heartBeat" height="400">
        </div>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
